.topInfos {
  position: fixed;
  top: constant(safe-area-inset-top);
  top: env(safe-area-inset-top);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.topInfosItem {
  font-size: 36px;
  width: 200px;
}
