.App {
  text-align: center;
  background-color: #1099bb;
  height: 100vh;
}

.gameSpace {
  position: relative;
  /* transform: translateY(50%); */
  background-color: #1099bb;
  width: 750px;
  height: 750px;
}

.my {
  position: absolute;
  bottom: 0;
  left: 100px;
}
.myObj {
  /* background-color: antiquewhite; */
  background-image: url('https://i.ibb.co/wrHMGz5/px-Art-3.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 200px;
  height: 200px;
  margin-top: 20px;
}
.myHpWrap {
  background-color: antiquewhite;
  width: 200px;
  height: 20px;
}

.myHp {
  height: 20px;
  background-color: #1cf639;
}

.them {
  position: absolute;
  top: 0;
  right: 100px;
}

.themHp {
  height: 20px;
  background-color: #de2160;
}

.themObjText {
  font-weight: bold;
}

.level {
  padding: 100px 0px 20px;
  font-size: 64px;
}
