.App {
  text-align: center;
}

.bottomButtons {
  position: fixed;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  display: flex;
  padding: 20px 0;
  justify-content: space-around;
  width: 100vw;
}
