.actionBtn {
  display: flex;
  height: 400px;
  width: 200px;
  background-color: rgb(208, 181, 86);
  border: 5px solid rgb(208, 181, 86);
  border-radius: 12px;
  padding: 20px;
  flex-direction: column;
}
.active {
  background-color: rgb(255, 249, 127);
  border: 5px solid rgb(15, 105, 164);
}

.actionBtnName {
  font-size: 36px;
}

.actionBtnNum {
  margin-top: 20px;
  font-size: 50px;
  font-weight: bold;
}

.confirm {
  margin-top: 20px;
  font-size: 36px;
}
